:root {
    --white: #fff;
    --black: #000;
    --font-color-base: #666;
    --font-color-dark: #212529;
    --font-color-light: #b0aebe;
    --font-color-link: #57a6ff;
    --font-color-btn: rgb(55, 125, 255);
    --footer: #34324a;
    --footer-base: #2e2c44;
    --contrast: rgba(246, 248, 249, 0.8);
    --success: #64ecf5;
    --danger: #ff8b8d;
    --grad-1: #a1ecff;
    --grad-2: #7dbcff;
    --size-10: 0.625rem;
    --size-14: 0.875rem;
    --size-16: 1rem;
    --size-18: 1.125rem;
    --size-20: 1.25rem;
    --size-30: 1.875rem;
    --size-40: 2.5rem;
    --size-50: 3.125rem;
    --size-100: 6.25rem;
    --size-150: 9.375rem;
}

html {
    scroll-behavior: smooth;
}

section,
footer,
header,
main,
nav {
    display: block;
}

body {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5;
    letter-spacing: 0;
    color: var(--font-color-base);
    margin: 0;
    padding: 0;
    text-align: center;
}

*,
::after,
::before {
    box-sizing: border-box;
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--font-color-base);
    background-color: transparent;
}

p {
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4 {
    color: var(--color-headings);
    margin-top: 0.25rem;
    margin-bottom: 0.5rem;
}

h2 {
    font-size: 1.75rem;
    font-weight: 500;
    line-height: 1.2;
}

img {
    width: 100%;
    max-width: 100%;
    vertical-align: middle;
    border-style: none;
}

button {
    outline: none;
}

.container,
.container-fluid {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    max-width: 1140px;
}

.btn {
    font-weight: 700;
    min-width: 175px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    letter-spacing: 1.63px;
    transition: 0.4s;
    height: 65px;
    padding-left: 30px;
    padding-right: 30px;
    box-shadow: 0 32px 54px rgb(3 3 3 / 12%);
}

.btn-white {
    background-color: var(--white);
    color: var(--font-color-btn);
    padding: 0.475rem 1.75rem;
    font-weight: 700;
}

.arrow {
    border: solid var(--font-color-base);
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    pointer-events: none;
}

.arrow-blue {
    border: solid var(--font-color-btn);
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    pointer-events: none;
}

.arrow-white {
    border: solid var(--white);
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    pointer-events: none;
}

.arrow-light {
    border: solid var(--font-color-light);
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    pointer-events: none;
}

.left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}

.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

.right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

.up {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
}