h1 {
    color: crimson
}

.bgd-img {
    position: absolute;
    opacity: .05;
}

.fa-spinner {
    animation: rotate360 1.5s linear infinite;
}

@keyframes rotate360 {
    25% {
        transform: rotate(90deg);
    }
    50% {
        transform: rotate(180deg);
    }
    75% {
        transform: rotate(270deg);
    }
    100% {
        transform: rotate(360deg);
    }
}